h1 {
  font-family: helvetica;
  font-weight: 200;
}

.background{
  // background:url('./img/IMG_0478.jpg');
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: beige;
}

.contents{
  margin: auto;
  padding: 10px;
  flex:auto;
}

.container {
  padding: 10px;
  border: 2px solid black;
  margin: auto;
}

.topSection {
  display: flex;
  flex: 1;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 2px;
  margin: 2px;
}

.slider {
  // height: 300px;
  width:100%;
}

.navBar {
  height: 100px;
  width: 100%;
  // border: 2px solid black;
  background-color: skyblue;
}

.project {
  border: 2px solid black;
  margin: auto;
  padding: 10px;
  height: 200px;
  width: 80%;
  background-color: beige;
}

//Footer
section, footer {
    padding: 80px 20px;
}

footer {
    color: #999;
    font-size: 16px;
    background-color: lightgray;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #000;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 7px;
}
